@import "@/styles/colors.scss";

.container {
  display: flex;
  background-color: $lightGray;
  padding: 30px 20px;
  border-radius: 20px;
  overflow-x: scroll;
  justify-content: space-between;
  width: 100%;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

.priceCard {
  background-color: $lightGray;
  border-left: 1px solid $blue-gray-lightest;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-left: 10px;
}

.priceCardNoneBorder {
  background-color: $lightGray;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-left: 11px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.priceTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 960px) {
  .container {
    font-size: 3.589vw;
    border-radius: 10px;
  }

  .price {
    font-size: 5.589vw;
  }

  .priceCard {
    padding-left: 20px;
  }
}