.swiperWrapper {
  position: relative;
  width: 100%;
  height: 32.15277777777778vw;
}

.counter {
  z-index: 10;
  background-color: #FFFFFF33;
  border-radius: 57px;
  font-size: 0.953vw;
  font-weight: bolder;
  width: 3.812vw;
  height: 3.866vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.042vw;
  letter-spacing: 0.34vw;
  color: #888888;
}

.currentSlide {
  color: #fff;
}

.mySwiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.361vw;
  background: #eee;
  border-radius: 10px;

}

.contentWrapper {
  max-width: 41.729vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.723vw;
}

.slideContent {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 48px;
  padding-left: 4.221vw;
  padding-top: 4.016vw;
  padding-bottom: 6.059vw;
}

.title {
  font-size: 2.723vw;
  color: #fff;
  font-weight: bolder;
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s forwards ease-out;
}

.button {
  max-width: 12.934vw;
  width: 100%;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rightPagination {
  position: absolute;
  display: flex;
  right: 2.723vw;
  bottom: 2.723vw;
  z-index: 10;

  :global(.custom-prev),
  :global(.custom-next) {
    width: 3.744vw;
    height: 3.744vw;
    background: #ffffff1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
}













