@import "@/styles/colors.scss";


.container {
  max-width: 14.636vw;
}
.header {
  width: 3.333vw;
  height: 3.333vw;
  border: 1px solid $blackBlue;
  border-radius: 50%;
  font-size: 1.498vw;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.title {
  font-weight: bolder;
  font-size: 1.498vw;
  margin-top: 1.361vw;
}
.description {
  font-size: 0.973vw;
  margin-top: 2.383vw;
}
