
.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #868686;
  max-width: 71.477vw;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 1.361vw;
}

.underContent {
  display: flex;
  font-size: 1vw;
  font-weight: 500;
  gap: 1.361vw;
}
.language {
  display: flex;
  align-items: center;
  gap: 0.34vw;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 500;
}

@media (max-width: 960px) {
  .container {
    max-width: 95vw;
  }
  .underContent {
    font-size: 2vw;
  }
  .language {
    font-size: 2vw;
  }
}