

.container {
  width: 100%;
  max-width: 1200px;
  height: 53px;
  margin: 0 auto;
  //background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLeftContent {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 20px;
}

.headerRightContent {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 20px;
}