
.container {
  max-width: 81.688vw;
  width: 100%;
  height: 6.83vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLeftContent {
  display: flex;
  align-items: center;
  font-size: 0.817vw;
  gap: 1.361vw;
}

.headerRightContent {
  display: flex;
  align-items: center;
  font-size: 0.817vw;
  gap: 1.361vw;
}