.swiperWrapper {
  position: relative;
  width: 100%;
}


.mySwiper {
  width: 100%;
  height: 100%;
  margin-top: 2.995vw;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.361vw;
  background: #eee;
  border-radius: 10px;


}

.slideContent {
  padding: 0.613vw 0.800vw;
  width: 40.27777777777778vw;
  height: 18.125vw;
  border-radius: 2.083333333333333vw;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);


}

.title {
  font-size: 2.451vw;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightPagination {
  display: flex;
  gap: 40px;
  z-index: 10;

  :global(.custom-prev-two),
  :global(.custom-next-two) {
    width: 4vw;
    height: 4vw;
    background: #192a40;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #2a3a50;
    }

    &:active {
      background-color: #1a2b41;
    }
  }
}

.wrapper {
  display: flex;
  gap: 1.906vw;

}
.forFlex {
  display: flex;
  gap: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cover {
  width: 13.61111111111111vw;
  height: 17.01388888888889vw;
}
.date {
  color: #a9adc1;
  font-size: 10px;
  font-weight: 500;
}
.titleSecond {
  font-size: 24.5px;
  font-weight: 600;
}
.description {
  font-size: 14.2917px;
  font-weight: 400;
}
.button {
  width: fit-content;
  margin-bottom: 5px;
  font-weight: bolder;
}


















