@import "@/styles/colors.scss";

.input {
  border-radius: 14px;
  box-sizing: border-box;
  background-color: $gray-lightest;
  outline: none;
  width: 100%;
  height: 3.333vw;
  border: solid 1px $gray-light-four;
  padding-left: 1.25vw;
  font-style: normal;
  font-weight: 450;
  font-size: 0.972vw;
  line-height: 1.319vw;
  margin-top: 0.555vw;
}

.checkBox {
  display: flex;
  gap: 0.681vw;
  align-items: center;
  width: fit-content;

  input[type="checkbox"] {
    accent-color: $navy-dark-two;
    border-radius: 15px;
    width: 1.361vw;
    height: 1.361vw;
  }
}

.wrapper {
  position: relative;
}

.visibility {
  position: absolute;
  right: 0.681vw;
  top: 1.300vw;
  cursor: pointer;
}

.save {
  font-size: 0.972vw;
}

@media (max-width: 960px) {
  .input {
    font-size: 3.589vw;
    height: 12.307vw;
    margin-top: 5.051vw;
    padding-left: 5.384vw;
  }
  .save {
    font-size: 3.5897435897435894vw;
  }

  .checkBox {
    gap: 3vw;
    margin-top: 3vw;

    input[type="checkbox"] {
      width: 5vw;
      height: 5vw;
    }
  }

  .visibility {
    top: 8vw;
    right: 2vw;
  }
  .visibility img {
    width: 6vw !important;
    height: 6vw !important;
  }

}



