.input {
  width: 20.286vw;
  height: 6.186vh;
  background: #f5f5f5;
  border-radius: 14px;
  outline: none;
  border:  1px solid #dbdbdb;
  padding-left: 0.700vw;
  padding-right: 2.383vw;
  font-size: 1.021vw;
}
.checkBox {
  display: flex;
  gap: 0.681vw;
  align-items: center;
  width: fit-content;

  input[type="checkbox"] {
    accent-color: #192a3f;
    border-radius: 15px;
    width: 1.361vw;
    height: 1.361vw;

  }
}
.wrapper {
  position: relative;
}

.visibility {
  position: absolute;
  right: 0.681vw;
  top: 0.800vw;
  cursor: pointer;
}



