$darkGrayBlue: #5a5b74;
$blackBlue: #000428;
$black: #000000;
$white: #ffffff;
$lightGray: #F7F9FB;
$dark-blue-gray: #192A40;
$steel-blue-dark: #2A3A50;
$navy-dark: #1A2B41;
$light-gray: #F5F7FA;
$gray-light: #E8ECF1;
$gray-lighter: #DFE3E9;
$orange-vivid: #FF681D;
$navy-dark-two: #192A3F;
$gray-medium: #767676;
$gray-light-three: #D9D9D9;
$gray-medium-dark: #AEAEAE;
$black-transparent: #0000000f;
$gray-lightest: #F5F5F5;
$gray-light-four: #D8D8D8;
$gray-lighter-four: #F2F2F2;
$off-white-blue: #F7F9FC;
$gray-extra-light: #EEEEEE;
$gray-blue-light: #A9ADC1;
$blue-gray-lightest: #EAF0F8;
$gray-extra-light: #EEE;
$peach-light: #FFF2EA;
$gray-neutral-light: #ECEBEB;
$white-transparent-20: #FFFFFF33;
$gray-medium: #888888;
$white-transparent-10: #FFFFFF1A;
$gray-mid: #868686;



























