@import "@/styles/colors.scss";

.container {
  display: flex;
  gap: 2.451vw;
  font-size: 0.953vw;
  width: fit-content;

}

.menuItem {
  position: relative;
  cursor: pointer;
  list-style: none;
}

.menuItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.204vw;
  width: 0;
  height: 0.129vh;
  background-color: currentColor;
  transition: width 0.2s ease;
}



@media (max-width: 960px) {
  .container {
    padding:  10vw 3vw;
    flex-direction:  column;
    font-size: 4.102564102564102vw;
    line-height: 2;
    font-weight: 600;
  }
}