.container {
  display: flex;
  gap: 2.451vw;
  font-size: 0.953vw;
  width: fit-content;
}

.menuItem {
  position: relative;
  cursor: pointer;
  list-style: none;

}

.menuItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.204vw;
  width: 0;
  height: 0.129vh;
  background-color: currentColor; /* ხაზის ფერი იგივე რაც ტექსტის */
  transition: width 0.2s ease;
}

.menuItem:hover::after {
  width: 100%;
}