.container {
  max-width: 81.688vw;
  width: 100%;
  height: auto;
  margin: 112px auto 60px auto;
  display: flex;
  flex-direction: column;
  gap: 2.723vw;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerContent {
  width: 16.678vw;
}
.menuItem {
  display: flex;
  flex-direction: column;
}

.footerSocialMedia {
  display: flex;
.fitContent {
  width: fit-content;
}}

.underFooter {
  width: 100%;
}

