.swiper {
    width: 735px;
    height: 414px;
}

.firstLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 43px;

}