.swiper {
    width: 50.034vw;
    height: 58.247vh;
}

.firstLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 83.333vw;
    width: 100%;
    margin: 0 auto;
    margin-top: 43px;

}