@import "@/styles/colors.scss";

.swiperWrapper {
  position: relative;
  width: 100%;
  height: 28vw;
}


.mySwiper {
  width: 100%;
  height: 100%;
  margin-top: 2.995vw;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.361vw;
  background: $gray-extra-light;
  border-radius: 10px;
}

.slideContent {
  padding: 2.777vw 2.5vw;
  border-radius: 2.083vw;
  background-color: $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 2.451vw;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightPagination {
  display: flex;
  gap: 10px;
  z-index: 10;

  :global(.custom-prev-two),
  :global(.custom-next-two) {
    width: 4vw;
    height: 4vw;
    background: $dark-blue-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;


    &:hover {
      background-color: $steel-blue-dark;
    }


    &:active {
      background-color: $navy-dark;
    }
  }
  :global(.lastSlide) {
    background-color: $gray-lightest;
    &:hover {
      background-color: $gray-lightest;
    }
    .slideContent {
      box-shadow: unset;
    }
    img {
      filter: brightness(0) invert(0.7); // 0.7 = 70% სიკაშკაშე
    }
  }

}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.contentIcon {
  width: 6.127vw;
  height: 6.127vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $peach-light;
  border-radius: 50%
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.contentDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentTitle {
  font-size: 1.600vw;
  font-weight: 600;
}

.contentDescription {
  font-size: 0.973vw;
  font-weight: 400;
}
.buttonWrapper {
  width: fit-content;
}


@media (max-width: 960px) {
  .title {
    font-size: 6.153vw;
  }

  .rightPagination {
    :global(.custom-prev-two),
    :global(.custom-next-two) {
      width: 10vw;
      height: 10vw;
    }
    img {
      width: 4vw !important  ;
      height: 4vw !important;
    }
    :global(.lastSlide) {
      background-color: $gray-neutral-light !important;
    }
  }
  .contentTitle {
    font-size: 4.615384615384616vw;
  }
  .swiperWrapper {
    height: 55.48717948717949vw;
  }
  .contentDescription {
    font-size: 3.076923076923077vw;
  }

  .contentIcon {
    width: 10vw;
    height: 10vw;
  }
  .contentIcon  img {
    width: 4.500vw !important ;
    height: 4.500vw !important;
  }
  .contentTitle {
    margin-top: 2vw;
  }
  .mySwiper {
    margin-top: 5vw;
  }

}
















