.swiper {
  width: 53.700vw;
}

.firstLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 81.688vw;
  width: 100%;
  //margin: 160px auto 0;
  margin: 3.892vw auto 0;
}

@media (max-width: 960px) {
  .firstLayout {
    max-width: 95vw;

  }
  .swiper {
    width: 100%;
  }
}