.container {
  width: 100vw;
  height: 55.801vw;
  background-image: url("https://b.gulf.ge/gradiantFinal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 90.801vw;
}


//#010329
// #d6fbff