
.container {
  display: flex;
  align-items: center;
  gap: 0.953vw;
  width: fit-content;
}

.middleLine {
  width: 0.136vw;
  height: 1.546vw;
  background-color: #F2F2F2;
}


@media (max-width: 960px) {

  .titleImg {
    width: 21.282vw !important;
    height: 5.384vw !important;
  }
  .mainLogo {
    width: 6.410vw !important;
    height: 5.897vw !important;
  }
  .middleLine {
    height: 2.230vw;
  }
  .mainLogoLarge {
    width: 10.410vw !important;
    height: 9.384vw !important;
  }

}