@import "@/styles/colors.scss";


.container {
  max-width: 81.688vw;
  width: 100%;
  margin: 0 auto;
  height: 4.500vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileMenu {
  display: none;
}

.mobileMenu {
  display: none;
}

@media (max-width: 960px) {
  .mobileMenu {
    display: flex;
    gap: 3.361vw;
  }

  .container {
    max-width: 95vw;
    padding-bottom: 2vw;
    height: auto;
    margin-top: 3vw;
  }

  .responsiveMenu {
    display: none;
  }

  .mobileMenuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.256vw;
    height: 10.256vw;
    background-color: $off-white-blue;
    border-radius: 50px;
    cursor:  pointer;

  }
}

.mobileMenuPopup {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: absolute;
  z-index: 99999999;
  left: 0;
  right: 0;
  top: 25vw;

}